<%- include("./partials/header.ejs") %>

<div class="container d-flex flex-column gap-3">
    <div class="bg-body-tertiary p-5 rounded shadow">
        <h1 class="display-1">Bem-vind@</h1>
        <p class="lead">Seja bem-vind@ ao Hoypress.</p>
    </div>

    <div>
        <br>
        <br>
        <h2 class="px-4">Últimas postagens</h2>
        <hr>
    </div>

    <div class="grid-container">
        <% data.forEach((article) => { %>
        <div class="bg-body-tertiary p-3 rounded shadow d-flex flex-column gap-1 grid-item">
            <a href="/articles/read/<%=  article.slug %>" class="text-body link-underline link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover">
                <strong><%= article.title %></strong>
            </a>
            <p class="m-0">Última atualização: <%= article.updatedAt %></p>
        </div>
    <% }) %>
    </div>
    
</div>

<%- include("./partials/footerNavigation.ejs") %>
<%- include("./partials/footer.ejs") %>