<%- include("../partials/header") %>

<div class="container">

    <div class="bg-body-tertiary p-5 rounded shadow mb-3">
        <p class="d-flex justify-content-between align-items-center m-0">
            <span class="display-6"><%= data.title %></span> 
            <small><strong>Última atualização:</strong> <%= data.updatedAt %></small>
        </p>
        <a href="/categories/read/<%= data.category.slug %>" class="text-body link-underline link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover"><strong><%= data.category.title %></strong></a>
    </div>

    <main class="px-5">
        <%- data.body %>
    </main>
    
</div>

<%- include("../partials/footer") %>