<%- include(header) %>

<main class="container">
    <div class="bg-body-tertiary p-5 rounded shadow mb-3">
        <h3 class="card-title m-0">Editar artigo</h3>
        <hr>
        <form action="/articles/update" method="post">
            <input type="hidden" name="id" value="<%= data.id %>">
            <label for="article-title" class="mb-1">Defina o título do artigo</label>
            <input type="text" class="form-control" autocomplete="none" id="article-title" name="title" placeholder="Título do artigo" value="<%= data.title %>">
            <br>
            <label for="article-category" class="mb-1">Selecione a categoria do artigo</label>
            <select class="form-select" id="article-category" name="category">
                <% FormCategories.forEach((item) => { %>
                    <option value="<%= item.id %>" <%- data.categoryId == item.id ? `selected` : null %>><%= item.title %></option>
                <% }); %>
            </select>
            <br>
            <textarea class="form-control" id="article-content" name="body" rows="3"></textarea>
            <br>
            <button class="btn btn-dark">Atualizar</button>
        </form>
    </div>
</main>

<script src="https://cdn.tiny.cloud/1/kg4shk3wxv7rufjhoxh9tdvsl4jq4b2a4ha04tfnllos0zsz/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#article-content',
        language: 'pt_BR',
        icons: 'bootstrap',
        skin: 'oxide-dark',
        content_css: 'tinymce-5-dark',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        init_instance_callback: () => {
            tinymce.get('article-content').setContent(`<%- data.body %>`);
        }
    });
</script>

<%- include(footer) %>